# npm
node_modules/

# Typescript output
dist/

# Generated stuff
.test-coverage/
src/schemas/telemetry-config.schema.json

# OS stuff
.DS_Store

# IDE stuff
.vscode/
.history/

# Dotenv stuff
.env

# Allow node_modules folders in test fixtures
!src/test/__fixtures/projects/**/node_modules/
